<h1>Help</h1>
<p>
	Get help on the ruby on Rails tutorial at the
	<a href="http://railsttutorial.org/help">Rails Tutorial help page</a>.
	To get help on this sample app, see the
	<a href="http://railsttutorial.org/book">Rails Tutorial book</a>.
</p>
